
@{
    ViewData["Title"] = "تواصل معنا";
}
<section class="body">
    <h1 class="text-info text-center title">تواصل معنا عبر . . .</h1>

    <ul class="unOrderList">
        <li class="listItem">
            <a class="anckerTag" href="https://www.facebook.com/31iNasser">
                <i class="bi bi-facebook bi11"></i>
                <span class="socialTitle">Facebook - </span>
            </a>
        </li>
        <li class="listItem">
            <a class="anckerTag" href="https://twitter.com/A1iEx1">
                <i class="bi bi-twitter bi11"></i>
                <span class="socialTitle">Twitter - </span>
            </a>
        </li>
        <li class="listItem">
            <a class="anckerTag" href="https://github.com/AliEenN">
                <i class="bi bi-github bi11"></i>
                <span class="socialTitle">GitHub - </span>
            </a>
        </li>
        <li class="listItem">
            <a class="anckerTag" href="https://www.linkedin.com/in/ali-nasser-68aa4520a/">
                <i class="bi bi-linkedin bi11"></i>
                <span class="socialTitle">LinkedIn - </span>
            </a>
        </li>
    </ul>
</section>