@{
    ViewData["Title"] = "الرئيسية";
}

<section class="webBackground">
    <h1 class="text-center title">الـخـبـيـر الـطـبـي</h1>
    <h2 class="text-center guide">
        طبيب معك اينما كنت
    </h2>
    <p id="changeText_1" class="text-center description"></p>
</section>